main {
    height: 100vh;
}

div#pantalla {
    height: 120px;
    color: rgb(165, 81, 42);
}

div#calculadora {
    max-width: 380px;
    height: 450px;
}

div#numeros,
div#operadores {
    height: 330px;
}


div#numeros>div>div>button,
div#operadores>div>div>button {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border: 0px;
    font-weight: bold;
}

div#numeros>div>div>button {
    background-color: rgb(165, 81, 42);

}

div#numeros>div>div>button:hover {
    background-color: rgb(146, 78, 46);
}

p#operacion {
    height: 50px;
}